doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css2?family=Geo&family=Sail&display=swap', rel='stylesheet')

  body
    block content
